In [1]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

# from config import db_password

import time

In [2]:
# 1. Add the clean movie function that takes in the argument, "movie".

def clean_movie(movie):

    
    movie = dict(movie)
    
    alt_titles={}
    
    # now loop
    for key in ['Also known as','Arabice','Cantonese','Chinese','French','Hangul','Hebrew','Hepburn','Japanese'
               ,'Literally','Mandarin','McCune-Reischauer','Original title','Polish','Revised Romanization','Romanized'
                ,'Russian','Simplified','Traditional','Yiddish']:
        
        if key in movie:
            
            alt_titles[key]=movie[key]
            
            movie.pop(key)
    
    if len(alt_titles) > 0:
        movie['alt_titles']=alt_titles
 
    def change_column_name(old_name,new_name):
        if old_name in movie:
            movie[new_name]=movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
    

    
    return(movie)

In [3]:
# 2 Add the function that takes in three arguments;
# Wikipedia data, Kaggle metadata, and MovieLens rating data (from Kaggle)

def extract_transform_load():
    
    kaggle_metadata=pd.read_csv('Resources/movies_metadata.csv',low_memory=False)
    ratings=pd.read_csv('Resources/ratings.csv')

    
    with open('Resources/wikipedia.movies.json', mode='r') as file:
        wiki_movies_raw=json.load(file)
    
    # 3. Write a list comprehension to filter out TV shows.
    wiki_tv_removal=[movie for movie in wiki_movies_raw if 'No. of episodes' not in movie]
    
    # 4. Write a list comprehension to iterate through the cleaned wiki movies list
    # and call the clean_movie function on each movie.
    wiki_clean = [clean_movie(movie) for movie in wiki_tv_removal] 
                 
     # 5. Read in the cleaned movies list from Step 4 as a DataFrame. 
    wiki_clean_df = pd.DataFrame(wiki_clean)

    # 6. Write a try-except block to catch errors while extracting the IMDb ID using a regular expression string and
    #  dropping any imdb_id duplicates. If there is an error, capture and print the exception.
    wiki_movies_df['imdb_id'] = []

    # Print the beginning of the logging.
    print("Beginning IMDB_ID Parsing    ")
    print("-----------------------------")
    
    #Loops through all IMDB_Links
    for i, link in enumerate(wiki_movies_df['imdb_link']):
        
        
        
    print(f"Processing IMDB_Link: {wiki_movies_df[imdb_link]})
    
    try:
        wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
        wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
        
        
    except:
        print(f"{wiki_movies_df['imdb_id']} is a duplicate. Skipping...")
        pass 

    return wiki_movies_df, kaggle_metadata, ratings

In [4]:
extract_transform_load()

(                                                    url    year  \
 0     https://en.wikipedia.org/wiki/The_Adventures_o...  1990.0
 1     https://en.wikipedia.org/wiki/After_Dark,_My_S...  1990.0
 2      https://en.wikipedia.org/wiki/Air_America_(film)  1990.0
 3       https://en.wikipedia.org/wiki/Alice_(1990_film)  1990.0
 4         https://en.wikipedia.org/wiki/Almost_an_Angel  1990.0
 ...                                                 ...     ...
 7300    https://en.wikipedia.org/wiki/Holmes_%26_Watson  2018.0
 7301     https://en.wikipedia.org/wiki/Vice_(2018_film)  2018.0
 7302  https://en.wikipedia.org/wiki/On_the_Basis_of_Sex  2018.0
 7303  https://en.wikipedia.org/wiki/Destroyer_(2018_...  2018.0
 7304  https://en.wikipedia.org/wiki/Black_Mirror:_Ba...  2018.0

                                   imdb_link                            title  \
 0     https://www.imdb.com/title/tt0098987/  The Adventures of Ford Fairlane
 1     https://www.imdb.com/title/tt0098994/             After Dark, My Sweet
 2     https://www.imdb.com/title/tt0099005/                      Air America
 3     https://www.imdb.com/title/tt0099012/                            Alice
 4     https://www.imdb.com/title/tt0099018/                  Almost an Angel
 ...                                     ...                              ...
 7300  https://www.imdb.com/title/tt1255919/                  Holmes & Watson
 7301  https://www.imdb.com/title/tt6266538/                             Vice
 7302  https://www.imdb.com/title/tt4669788/              On the Basis of Sex
 7303  https://www.imdb.com/title/tt7137380/                        Destroyer
 7304  https://www.imdb.com/title/tt9495224/                     Bandersnatch

                                                Based on  \
 0                           [Characters, by Rex Weiner]
 1     [the novel, After Dark, My Sweet, by, Jim Thom...
 2                [Air America, by, Christopher Robbins]
 3                                                   NaN
 4                                                   NaN
 ...                                                 ...
 7300  [Sherlock Holmes, and, Dr. Watson, by, Sir Art...
 7301                                                NaN
 7302                                                NaN
 7303                                                NaN
 7304                                                NaN

                                                Starring         Narrated by  \
 0     [Andrew Dice Clay, Wayne Newton, Priscilla Pre...  Andrew "Dice" Clay
 1     [Jason Patric, Rachel Ward, Bruce Dern, George...                 NaN
 2     [Mel Gibson, Robert Downey Jr., Nancy Travis, ...                 NaN
 3     [Alec Baldwin, Blythe Danner, Judy Davis, Mia ...                 NaN
 4           [Paul Hogan, Elias Koteas, Linda Kozlowski]                 NaN
 ...                                                 ...                 ...
 7300  [Will Ferrell, John C. Reilly, Rebecca Hall, R...                 NaN
 7301  [Christian Bale, Amy Adams, Steve Carell, Sam ...                 NaN
 7302  [Felicity Jones, Armie Hammer, Justin Theroux,...                 NaN
 7303  [Nicole Kidman, Sebastian Stan, Toby Kebbell, ...                 NaN
 7304  [Fionn Whitehead, Will Poulter, Craig Parkinso...                 NaN

                      Cinematography  \
 0                       Oliver Wood
 1                      Mark Plummer
 2                     Roger Deakins
 3                    Carlo Di Palma
 4                      Russell Boyd
 ...                             ...
 7300                    Oliver Wood
 7301                   Greig Fraser
 7302                  Michael Grady
 7303                 Julie Kirkwood
 7304  [Aaron Morton, Jake Polonsky]

                                            Release date  \
 0                     [July 11, 1990, (, 1990-07-11, )]
 1     [May 17, 1990, (, 1990-05-17, ), (Cannes Film ...
 2                   [August 10, 1990, (, 1990-08-10, )]
 3                 [December 25, 1990, (, 1990-12-25, )]
 4                                     December 19, 1990
 ...                                                 ...
 7300  [December 25, 2018, (, 2018-12-25, ), (United ...
 7301  [December 11, 2018, (, 2018-12-11, ), (, Samue...
 7302  [November 8, 2018, (, 2018-11-08, ), (, AFI Fe...
 7303  [August 31, 2018, (, 2018-08-31, ), (, Telluri...
 7304               [28 December 2018, (, 2018-12-28, )]

                                Running time  ... Subsidiaries Arabic  \
 0                               102 minutes  ...          NaN    NaN
 1                               114 minutes  ...          NaN    NaN
 2                               113 minutes  ...          NaN    NaN
 3                               106 minutes  ...          NaN    NaN
 4                                95 minutes  ...          NaN    NaN
 ...                                     ...  ...          ...    ...
 7300                             90 minutes  ...          NaN    NaN
 7301                            132 minutes  ...          NaN    NaN
 7302                            120 minutes  ...          NaN    NaN
 7303                            123 minutes  ...          NaN    NaN
 7304  Variable; 90 minutes for default path  ...          NaN    NaN

      Predecessor Founders Area served Products Services Revenue  \
 0            NaN      NaN         NaN      NaN      NaN     NaN
 1            NaN      NaN         NaN      NaN      NaN     NaN
 2            NaN      NaN         NaN      NaN      NaN     NaN
 3            NaN      NaN         NaN      NaN      NaN     NaN
 4            NaN      NaN         NaN      NaN      NaN     NaN
 ...          ...      ...         ...      ...      ...     ...
 7300         NaN      NaN         NaN      NaN      NaN     NaN
 7301         NaN      NaN         NaN      NaN      NaN     NaN
 7302         NaN      NaN         NaN      NaN      NaN     NaN
 7303         NaN      NaN         NaN      NaN      NaN     NaN
 7304         NaN      NaN         NaN      NaN      NaN     NaN

      Operating income    imdb_id
 0                 NaN  tt0098987
 1                 NaN  tt0098994
 2                 NaN  tt0099005
 3                 NaN  tt0099012
 4                 NaN  tt0099018
 ...               ...        ...
 7300              NaN  tt1255919
 7301              NaN  tt6266538
 7302              NaN  tt4669788
 7303              NaN  tt7137380
 7304              NaN  tt9495224

 [7050 rows x 153 columns],
        adult                              belongs_to_collection    budget  \
 0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
 1      False                                                NaN  65000000
 2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
 3      False                                                NaN  16000000
 4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
 ...      ...                                                ...       ...
 45461  False                                                NaN         0
 45462  False                                                NaN         0
 45463  False                                                NaN         0
 45464  False                                                NaN         0
 45465  False                                                NaN         0

                                                   genres  \
 0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
 1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
 2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
 3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 4                         [{'id': 35, 'name': 'Comedy'}]
 ...                                                  ...
 45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
 45462                      [{'id': 18, 'name': 'Drama'}]
 45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
 45464                                                 []
 45465                                                 []

                                    homepage      id    imdb_id  \
 0      http://toystory.disney.com/toy-story     862  tt0114709
 1                                       NaN    8844  tt0113497
 2                                       NaN   15602  tt0113228
 3                                       NaN   31357  tt0114885
 4                                       NaN   11862  tt0113041
 ...                                     ...     ...        ...
 45461  http://www.imdb.com/title/tt6209470/  439050  tt6209470
 45462                                   NaN  111109  tt2028550
 45463                                   NaN   67758  tt0303758
 45464                                   NaN  227506  tt0008536
 45465                                   NaN  461257  tt6980792

       original_language               original_title  \
 0                    en                    Toy Story
 1                    en                      Jumanji
 2                    en             Grumpier Old Men
 3                    en            Waiting to Exhale
 4                    en  Father of the Bride Part II
 ...                 ...                          ...
 45461                fa                      رگ خواب
 45462                tl          Siglo ng Pagluluwal
 45463                en                     Betrayal
 45464                en          Satana likuyushchiy
 45465                en                     Queerama

                                                 overview  ... release_date  \
 0      Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
 1      When siblings Judy and Peter discover an encha...  ...   1995-12-15
 2      A family wedding reignites the ancient feud be...  ...   1995-12-22
 3      Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
 4      Just when George Banks has recovered from his ...  ...   1995-02-10
 ...                                                  ...  ...          ...
 45461        Rising and falling between a man and woman.  ...          NaN
 45462  An artist struggles to finish his work while a...  ...   2011-11-17
 45463  When one of her hits goes wrong, a professiona...  ...   2003-08-01
 45464  In a small town live two brothers, one a minis...  ...   1917-10-21
 45465  50 years after decriminalisation of homosexual...  ...   2017-06-09

            revenue runtime                                   spoken_languages  \
 0      373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
 1      262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
 2              0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
 3       81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
 4       76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
 ...            ...     ...                                                ...
 45461          0.0    90.0             [{'iso_639_1': 'fa', 'name': 'فارسی'}]
 45462          0.0   360.0                  [{'iso_639_1': 'tl', 'name': ''}]
 45463          0.0    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
 45464          0.0    87.0                                                 []
 45465          0.0    75.0           [{'iso_639_1': 'en', 'name': 'English'}]

          status                                            tagline  \
 0      Released                                                NaN
 1      Released          Roll the dice and unleash the excitement!
 2      Released  Still Yelling. Still Fighting. Still Ready for...
 3      Released  Friends are the people who let you be yourself...
 4      Released  Just When His World Is Back To Normal... He's ...
 ...         ...                                                ...
 45461  Released         Rising and falling between a man and woman
 45462  Released                                                NaN
 45463  Released                             A deadly game of wits.
 45464  Released                                                NaN
 45465  Released                                                NaN

                              title  video vote_average vote_count
 0                        Toy Story  False          7.7     5415.0
 1                          Jumanji  False          6.9     2413.0
 2                 Grumpier Old Men  False          6.5       92.0
 3                Waiting to Exhale  False          6.1       34.0
 4      Father of the Bride Part II  False          5.7      173.0
 ...                            ...    ...          ...        ...
 45461                       Subdue  False          4.0        1.0
 45462          Century of Birthing  False          9.0        3.0
 45463                     Betrayal  False          3.8        6.0
 45464             Satan Triumphant  False          0.0        0.0
 45465                     Queerama  False          0.0        0.0

 [45466 rows x 24 columns],
           userId  movieId  rating   timestamp
 0              1      110     1.0  1425941529
 1              1      147     4.5  1425942435
 2              1      858     5.0  1425941523
 3              1     1221     5.0  1425941546
 4              1     1246     5.0  1425941556
 ...          ...      ...     ...         ...
 26024284  270896    58559     5.0  1257031564
 26024285  270896    60069     5.0  1257032032
 26024286  270896    63082     4.5  1257031764
 26024287  270896    64957     4.5  1257033990
 26024288  270896    71878     2.0  1257031858

 [26024289 rows x 4 columns])